
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/index.js" defer)
    script(src="/socket.io/socket.io.js")
    title Memories Game
    
  body
    - const pStyles = {"text-align":"center", "font-size": "22px", "color": "black", "margin-top" : "10px"}
    - const playerOneStyle = {"font-size":"18px", "margin-left":"510px", "border-bottom":"2px solid black"}
    - const playerTwoStyle = {"font-size": "18px", "margin-left":"400px", "border-bottom":"2px solid black"}
    - const mStyle = {"margin-top":"40px"}
    - const wStyle = {"margin-left":"-330px", "font-size":"18px","margin-top":"5px"}
    p(style=pStyles) Click two different cards, find the pair and get a point  #{login.charAt(0).toUpperCase() + login.slice(1)}
    main(style=mStyle)
      .blue#one
      .green#two
      .pink#three
      .brown#four
      .cadetblue#five
      .coral#six
      .red#seven
      .coral#eight
      .green#nine
      .brown#ten
      .red#eleven
      .gold#twelve
      .gold#thirteen
      .pink#fourtine
      .yellow#fifteen
      .blue#sixteen
      .yellow#seventeen
      .cadetblue#eighteen 
  
  section  
    article.player.z1(style=playerOneStyle)
      | Player 1
      p#jeden
        |  
        
      p.ready#scorePlayerOne
        | Points: 0
        
    article.player.z2(style=playerTwoStyle)
      | Enemy
      p#dwa 
        |  
        
      p.ready#scorePlayerTwo
        | Points: 0
    p#winner(style=wStyle)
        | The winner is : 
   
         
script. 

  